.navbar{
    background-color: #a09090;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0px 20px;
    gap: 30px;
    height: 80px;

    .navbarItem{
        padding: 5px;
        font-size: 22px;
    }
}
